build
.cache
lib/temp
.DS_Store
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
*.mp4
ignore*
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
